.left-back-color {
    background-color: rgba(247, 241, 227,.6);
}

.main-div-color {
    background-color: rgba(247, 241, 227,.4);
}

.top-separator {
    margin-top: 10px;
}

.main-post {
    background-color: rgba(247, 241, 227,.6);
}

#main-container {
    overflow-x: auto;
}