{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <body>
    <br>
    <div class="container">
        <div class="row main-div-color">
            <div class="col-sm-12 left-back-color top-separator">
                <div id="parent_div_reply" hidden><p>Replying or editing:</p>
                    <div class="alert alert-secondary" role="alert" id="editing_post">

                    </div>
                </div>
                <form action="{% url 'forumapp:PostPost' %}" method="post" id="post_post" style="position: static">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-align-justify"></i></span>
                        </div>

                        <textarea class="form-control" aria-label="With textarea" name="new_post_text"
                                  id="new_post_text"></textarea>
                        <button type="submit" class="btn btn-success"><i class="fa fa-paper-plane"
                                                                         onclick="submitPost();"></i></button>
                    </div>
                </form>



            </div>
            <div class="col-sm-12" id="main-container" style="height: 600px">
                {% autoescape off %}
                    {{ posts_html }}
                {% endautoescape %}

            </div>
        </div>

    </div>
    </body>
{% endblock %}